:root {
  --nav-footer-color: #230f33;
  --gray-p: #615c66;
  --blue-p: #005eab;
  --black-hidden: #2b2430;
  --white: #ffffff;
  --border-solid: #cacacc;
  --background-link: #0077d9;
  --light-green: #e8fcea;
  --green-p: #006e2e;
  --price-color: #615c66;
  --green-price-offer: #318200;
  --red-color: #eb0028;
  --footer-gray: #f8f7fa;
  --footer-border:#E4E4E6;
}
